/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #627f9a;// bluey-grey //#a62425;
$titleFontColor: #a62425;
$masthead-background: #281572; // purple    old:  #5C7253; green
$title-color: #5C7253;
$logo-font-color: white;
$tagline-color: #EDD7AE;
$alt-text-color: #EDD7AE;
$content-font-color: #333;
// Background colors:

$bkgoundContent: #FFFFFF; //
$menuBarbkg: #D14719; //
$penob-blue: #627f9a;
$penob-green: #5c7253;

// border colors
$tab-border: #DADADA;

/* Typography ------------------------------------------ */
p {
	font-size: 110%; // make font larger
	//color:  $content-font-color;
}
body,
blockquote,
blockquote p {
	color: $content-font-color;
}

.penob_alt_color, .penob_alt_color a {
	color: $alt-text-color!important;

}
.penob_font_thin {
	font-weight: lighter;
}

.penob_green {
	color: $title-color;
}
.penob_h4_smaller {
	font-size: 20px;
}
/* standard stuff */
ul, ol, dl {
	//list-style: inside;
	list-style: outside;
}

.widget_nav_menu ul li a {
	color: $linkcolor;
	font-size: larger;
}
.reach-logo:before {
	content: url('images/favicon.png');
	padding-right: 3px;
}
.penob-box {
	text-align:center;
	//border: 4px solid white;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}

.penob-box-green,
.penob-box-green a {
		color: white;
		background-color: $penob-green;
}
.penob-box-blue,
.penob-box-blue a {
		color: white;
		background-color: $penob-blue;
}
.penob-eq-col-row {
 	display: flex;
}
.penob-eq-col {
		flex: 1;
}
.penob-border-white {
		border: 4px solid white;
}
